
html,body {
    margin: 0;
    font-family: "Hind Vadodara", sans-serif;
}

.header-container {
    display: flex;
    height: 70px;
    background-color: white;
    justify-content: space-between;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-left: 200px;
}

.header-left img {
    max-height: 40%;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    color: #868487;
    margin-right: 190px;
}

.link {
    margin: 0 10px;
    font-size: 15px;
    font-weight: 600;
}

.link-btn {
    border: 2px solid #3e3d41;
    padding: 10px 20px;
}

.link-btn a {
    color: #515153;
    text-decoration: none;
}

.banner-container {
    background-color: #2c2640;
    height: 770px;
    display: flex;
}


.line {
    margin-bottom: 80px;
    border: 1px solid white;
    width: 150px;
}

.banner-left {
    width: 50%;
    color: white;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-desc  {
    margin-top: 35px;
    line-height: 36px;
    font-size: 19px;
    width: 741px;
}

.banner-title {
    font-size: 75px;
    font-weight: 600;
}

.view-btn {
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    margin-top: 50px;

}

.view-btn a {
    color: white;
    text-decoration: none;
}



.banner-right {
    background-image: url(./images/image-intro-desktop.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    /* margin-right: 180px; */
    margin-right: 200px;
    margin-top: 136px;
    background-position: right;
    background-size: 680px 760px;
}

.banner-bc-img {
    background-image: url(./images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 225px;
    left: 199px;
}

.banner-left-bc-img {
    background-image: url(./images/bg-pattern-intro-left-desktop.svg);
    background-repeat: no-repeat;
    position: absolute;
    height: 500px;
    top: 670px;
    left: 0;
    right: 0;
}

.features-container {
    /* margin-top: 290px; */
    /* margin-left: 200px; */
    margin: 290px 200px 0 200px;



    height: 800px;
}

.line-c {
    margin-bottom: 80px;
    border: 1px solid #d5ccd6;
    width: 150px;
}

.feature-title {
    font-size: 60px;
    font-weight: 700;
}

.feature-item-container {
    display: flex;
    margin-top: 90px;
}

.feature-item {
    width: calc(100%/3);
    margin: 0 40px;
}

div.feature-item:nth-child(1) {
    margin-left: 0px;
}

div.feature-item:nth-child(3) {
    margin-right: 0px;
}

.feature-item-title {
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
}

.feature-item-desc {
    margin-top: 20px;
    color: #99999b;
    font-size: 20px;
}






